@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway';
  background-color: green;
}

h1 {
  font-family: 'Raleway';
}

li {
  font-family: 'Raleway';
  color: green;
}

p {
  font-family: 'Raleway';
}

.classOne{
  color:white;
}
.classTwo{
  background-color: green;
}
